@import url('https://fonts.googleapis.com/css?family=Poor+Story');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poor Story', cursive;
  background: #8ca5e0;
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 0.5rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  position: relative;
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}

.item {
  display: inline-block;
  margin-top: 1rem;
  filter: grayscale(100%);
  position: relative;
}

.item:hover {
  filter: none;
  z-index: 999 !important;
}

.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

.item:hover .polaroid {
  transform: scale(1.15);
  box-shadow: 0 8px 12px rgba(0,0,0,.45);
  transition: all 0.35s;
}

.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  transition: all 0.35s;
}